.lesson {
    z-index: 10000;
}

.lesson:after {
    border: solid transparent;
	  content: " ";
	  height: 0;
	  width: 0;
	  position: absolute;
	  pointer-events: none;
	  border-color: rgba(213, 60, 60, 0);;
	  border-width: 10px;
	  margin-top: -10px;
}

.lesson.top:after {
    top: 100%;
	  left: 50%;
    border-top-color: rgba(0, 0, 0, 0.8);
    margin-top: 0;
    margin-left: -10px;
}

.lesson.bottom:after {
    bottom: 100%;
	  left: calc(50% - 10px);
    border-bottom-color: rgba(0, 0, 0, 0.8);
}

.lesson.right:after {
	  right: 100%;
	  top: 40px;
	  border-right-color: rgba(0, 0, 0, 0.8);
}

.lesson.left:after {
	  left: 100%;
	  top: 40px;
	  border-left-color: rgba(0, 0, 0, 0.8);
}
